@charset 'utf-8';

@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

/** UTILITIES */

$family-sans-serif: Raleway, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-serif: Kalam, "Times New Roman", Times, serif;
$family-primary: $family-sans-serif;
$family-secondary: $family-serif;


$blue:		hsl(217,	70%,	65%);
$orange:	hsl(25,		85%,	47.5%);

$primary: $orange;

$scheme-main: $black-bis;
$scheme-main-bis: $black-ter;
$scheme-main-ter: $grey-darker;
$scheme-invert: $white;
$scheme-invert-bis: $white-bis;
$scheme-invert-ter: $white-ter;
$background: $black-ter;

$link-hover: findLightColor($blue);

$text: $white-ter;
$text-invert: findColorInvert($text);
$text-light: $white-ter;
$text-strong: $white;

@import '~bulma/sass/utilities/derived-variables';
@import '~bulma/sass/utilities/mixins';
@import '~bulma/sass/utilities/controls';

/** COLORS: only what's used */
$colors: mergeColorMaps(("primary": ($primary, $primary-invert, $primary-light, $primary-dark)), $custom-colors);

/** GENERIC */
$body-size: initial;

/** BUTTON */
$button-background-color: $black-bis;
$button-border-color: $black-ter;
$button-focus-color: lighten($primary, 2.5%);
$button-hover-color: $primary;
$button-hover-border-color: $grey-darker;

/** FOOTER */
$footer-padding: 1rem;

/** NAVBAR */
$navbar-background-color: $black-ter;
$navbar-item-hover-color: $text-strong;
$navbar-item-hover-background-color: $black-bis;

/** SLIDER */
$slider-thumb-background: $primary;
$slider-thumb-border:	1px solid $primary-dark;

/** CUSTOM */
$background-image-filter: grayscale(100%) brightness(33%);
