@charset 'utf-8';

@import '_theme';

$background-image: var(--background-image) !default;
$background-image-filter: grayscale(100%) brightness(133%) !default;

.has-background-image {
	position: relative;
	* {
		position: relative;
	}
	&::before {
		background: $background-image;
		background-position: bottom;
		background-size: cover;
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		filter: $background-image-filter;
	}
}
