@charset 'utf-8';

/*! Copyright (c) 2014, Indian Type Foundry (info@indiantypefoundry.com).

This Font Software is licensed under the SIL Open Font License, Version 1.1.

This license is copied below, and is also available with a FAQ at: http://scripts.sil.org/OFL
*/
@font-face {
	font-family: 'Kalam';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/kalam.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*! Copyright 2010 The Raleway Project Authors (impallari@gmail.com), with Reserved Font Name "Raleway".

This Font Software is licensed under the SIL Open Font License, Version 1.1.

This license is copied below, and is also available with a FAQ at: http://scripts.sil.org/OFL
*/
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/raleway.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import '_theme';
@import '~bulma/sass/base/_all';

html,
body {
	height: 100%;
}
